.team
{
  text-align: center;
  margin-top: 5em;
  background-color:black;
}

body {
    background-image: url("images/vexLogo.png");
    background-size: cover;
    background-color:black;
}

#headertext
{
  color:white;
  font-weight: bold;
}


h5
{
  font-size: .9em;
}
